body{
    background-color: #3f363a !important;
}
button{
    font-size: 120%;
    background-color: black;
    color: white;
    border-radius: 10px;
}
input{
    width: 30%;
    height: 6%;
    border-radius: 10px;
}
select{
    width: 30%;
    height: 6%;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    color: #fff !important;
}
.b {
    color: #000000;
    text-align: center; /* Centra el texto en el título */
    margin: 20px 0; /* Agrega espacio superior e inferior */
}
.verHabi {
    display: inline-block;
    position: relative;
    color: white;
    text-align: center;
    background-color: #380017;
    left: 6%;
    padding: 10px;
    width: 200px;    
    border-radius: 10px;
    margin: 10px; 
    box-shadow: 3px 5px 15px black;
    transition: all 500ms ease;
}

.verHabi h2 {
    font-size: 18px; /* Tamaño de fuente más pequeño */
}
.verHabi-ini {
    display: inline-block;
    color: white;
    text-align: center;
    background-color: #380017;
    padding: 10px;
    width: 200px;    
    border-radius: 10px;
    margin: 10px; 
    box-shadow: 3px 5px 15px black;
    transition: all 500ms ease;
}
